In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [3]:
df = pd.read_csv("auto-mpg.csv")

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
df1 = df[df['model year'] < 77]
df2 = df[df['model year'] > 76]

Our null hypothesis is that there is no difference between the mpg of the cars in the two groups.
Our alternative hypothesis is that there is a difference.

In [8]:
ttest_ind(df1.mpg, df2.mpg, equal_var=False)

Ttest_indResult(statistic=-11.943202547392938, pvalue=1.0972140535169596e-27)

Our p-value is very low. This means that there is an astronomically small chance of observing the difference observed assuming the null hypothesis is true. We therefore reject the null hypothesis, and conclude that there is a difference in the mpg between the two groups.