In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("co2_mm_mlo.txt", sep = r"\s*", skiprows = 72, 
                 header = None, 
                 names = ['Year', 'Month', 'Inferred_Date', 
                            'CO2_average_ppm', 'Interpolated_CO2_ppm', 'seasonal_trend',
                            'days'])

/Users/anthonyschams/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """
/Users/anthonyschams/anaconda/lib/python3.6/site-packages/pandas/io/parsers.py:2230: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/Users/anthonyschams/anaconda/lib/python3.6/site-packages/pandas/io/parsers.py:2232: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

In [6]:
df2 = df[['Year', 'Month', 'CO2_average_ppm']].copy()
df2['Day'] = 15
X = df2.drop(columns='CO2_average_ppm')
Y = df2.CO2_average_ppm.copy()

In [5]:
df2.head()

   Year  Month  CO2_average_ppm  Day
0  1958      3           315.71   15
1  1958      4           317.45   15
2  1958      5           317.50   15
3  1958      6           -99.99   15
4  1958      7           315.86   15

In [16]:
def tr_te_split(X, Y, cond_df, cond):
    split = np.where(cond(cond_df, 2010), True, False)
    neg_split = np.logical_not(split)
    x_train = X[neg_split]
    x_test = X[split]
    y_train = Y[neg_split]
    y_test = Y[split]
    return x_train, x_test, y_train, y_test

In [17]:
x_train, x_test, y_train, y_test = tr_te_split(X,Y, df2.Year, lambda a, b: a > b)