# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [ ]:
!pwd
!ls -al

In [7]:
import pandas as pd
import numpy as np
import datetime as dt
uci = pd.read_csv('heart.csv')

In [3]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [4]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
uci.shape

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [7]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [10]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [19]:
uci.sum(axis = 0) # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [20]:
uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [12]:
# Your code here!
uci.restecg.value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

In [14]:
import numpy as np

In [17]:
print(np.NaN == np.NaN)
type(np.inf)

False

float

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [8]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
animal_outcomes.columns = animal_outcomes.columns.str.replace(' ', '_')

In [23]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101475 entries, 0 to 101474
Data columns (total 12 columns):
Animal_ID           101475 non-null object
Name                69834 non-null object
DateTime            101475 non-null object
MonthYear           101475 non-null object
Date_of_Birth       101475 non-null object
Outcome_Type        101468 non-null object
Outcome_Subtype     46103 non-null object
Animal_Type         101475 non-null object
Sex_upon_Outcome    101473 non-null object
Age_upon_Outcome    101455 non-null object
Breed               101475 non-null object
Color               101475 non-null object
dtypes: object(12)
memory usage: 9.3+ MB

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [5]:
# animal_outcomes[animal_outcomes["Animal_Type"] == 'Dog'].groupby(["Outcome_Type", "Breed"]).count()
animal_outcomes[(animal_outcomes.Animal_Type == 'Dog') & (animal_outcomes.Outcome_Type == 'Adoption')].Breed.value_counts()[:10]

Labrador Retriever Mix                    3080
Pit Bull Mix                              3037
Chihuahua Shorthair Mix                   2840
German Shepherd Mix                       1345
Australian Cattle Dog Mix                  745
Dachshund Mix                              472
Border Collie Mix                          451
Boxer Mix                                  398
Catahoula Mix                              327
Staffordshire Mix                          321
Miniature Poodle Mix                       313
Australian Shepherd Mix                    290
Siberian Husky Mix                         270
Jack Russell Terrier Mix                   269
Cairn Terrier Mix                          261
Rat Terrier Mix                            259
Pointer Mix                                253
Chihuahua Longhair Mix                     240
Yorkshire Terrier Mix                      228
Anatol Shepherd Mix                        227
Beagle Mix                                 220
Miniature Schnauzer Mix                    211
Black Mouth Cur Mix                        210
Great Pyrenees Mix                         209
Plott Hound Mix                            201
American Bulldog Mix                       177
Australian Kelpie Mix                      176
Chihuahua Shorthair/Dachshund              168
Rottweiler Mix                             148
German Shepherd                            144
                                          ...
Dutch Shepherd/Mastiff                       1
Rat Terrier/Basenji                          1
Lhasa Apso/Miniature Schnauzer               1
Boston Terrier/Rat Terrier                   1
Chinese Sharpei/Chow Chow                    1
Dachshund/Havanese                           1
Pit Bull/Doberman Pinsch                     1
Standard Schnauzer/Labrador Retriever        1
Dalmatian/Australian Cattle Dog              1
Beagle/Cocker Spaniel                        1
American Bulldog/Dalmatian                   1
Black/Tan Hound/German Shepherd              1
Chihuahua Shorthair/Australian Terrier       1
American Pit Bull Terrier/Pit Bull           1
Cairn Terrier/Border Collie                  1
Boxer/Neapolitan Mastiff                     1
English Pointer                              1
Chihuahua Longhair/Italian Greyhound         1
Pekingese/Catahoula                          1
Australian Kelpie/Chihuahua Shorthair        1
Chinese Sharpei/Beagle                       1
Australian Shepherd/Basset Hound             1
Papillon/Brittany                            1
Staffordshire/Basenji                        1
Norfolk Terrier/German Shepherd              1
Redbone Hound/Redbone Hound                  1
Great Pyrenees/Alaskan Husky                 1
Dachshund/Chinese Sharpei                    1
Australian Kelpie/Bull Terrier               1
Border Collie/Australian Kelpie              1
Name: Breed, Length: 1565, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [2]:
def successor(x):
    return x + 1

In [3]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [4]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [5]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [6]:
uci.age.map(lambda x: str(x)).head()

0    63
1    37
2    41
3    56
4    57
Name: age, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [10]:
# Your code here
animal_outcomes.DateTime.apply(lambda x: pd.to_datetime(x))

0        2019-06-10 13:52:00
1        2019-06-10 13:38:00
2        2019-06-10 13:35:00
3        2019-06-10 13:31:00
4        2019-06-10 12:49:00
5        2019-06-10 12:32:00
6        2019-06-10 12:23:00
7        2019-06-10 11:52:00
8        2019-06-10 11:33:00
9        2019-06-10 10:53:00
10       2019-06-10 09:00:00
11       2019-06-10 00:00:00
12       2019-06-10 00:00:00
13       2019-06-09 19:55:00
14       2019-06-09 19:42:00
15       2019-06-09 19:40:00
16       2019-06-09 19:18:00
17       2019-06-09 19:14:00
18       2019-06-09 19:14:00
19       2019-06-09 19:09:00
20       2019-06-09 18:51:00
21       2019-06-09 18:50:00
22       2019-06-09 18:42:00
23       2019-06-09 18:41:00
24       2019-06-09 18:38:00
25       2019-06-09 18:38:00
26       2019-06-09 18:24:00
27       2019-06-09 18:19:00
28       2019-06-09 18:13:00
29       2019-06-09 18:13:00
                 ...
101458   2013-10-01 15:07:00
101459   2013-10-01 14:15:00
101460   2013-10-01 14:14:00
101461   2013-10-01 14:13:00
101462   2013-10-01 13:59:00
101463   2013-10-01 13:16:00
101464   2013-10-01 13:00:00
101465   2013-10-01 13:00:00
101466   2013-10-01 12:59:00
101467   2013-10-01 12:58:00
101468   2013-10-01 12:57:00
101469   2013-10-01 12:45:00
101470   2013-10-01 12:34:00
101471   2013-10-01 12:32:00
101472   2013-10-01 12:27:00
101473   2013-10-01 12:27:00
101474   2013-10-01 12:24:00
101475   2013-10-01 12:13:00
101476   2013-10-01 12:05:00
101477   2013-10-01 11:53:00
101478   2013-10-01 11:53:00
101479   2013-10-01 11:50:00
101480   2013-10-01 11:42:00
101481   2013-10-01 11:13:00
101482   2013-10-01 11:12:00
101483   2013-10-01 11:03:00
101484   2013-10-01 10:44:00
101485   2013-10-01 10:44:00
101486   2013-10-01 10:39:00
101487   2013-10-01 09:31:00
Name: DateTime, Length: 101488, dtype: datetime64[ns]

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [13]:
# Your code here!
uci.groupby('target').chol.mean()

target
0    251.086957
1    242.230303
Name: chol, dtype: float64

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [6]:
uci.pivot(values = 'sex', columns = 'target').head()

target   0    1
0      NaN  1.0
1      NaN  1.0
2      NaN  0.0
3      NaN  1.0
4      NaN  0.0

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here